.logo{
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    flex-grow: 1;
}


header ul{
    list-style: none;
    display: none;
    margin:0;
    padding:0;
    background-color: #266867;
}

.mobileMenu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    position: inherit;
    top:5rem;
    right: 0;
}

header li{
    font-size: 1.5rem;
    padding:1.625rem 0;
}

.badge{
    padding: 0.25rem 0.5rem;
    border-radius:100%;
    background-color: #266867;
    margin-left: 0.5rem;
    color:white;
}    

header a{
    text-decoration: none;
    color:#f2e2d0;
    padding: 1.625rem 0.5rem;
    width: 100%;
}

header a:hover,
header a:active,
header a.active,
header li:hover{
    background-color: #1a4645;
    color:white;
}


@media screen and (min-width:920px){
    header ul{
        display: flex;
        flex-direction: row;
        top:0;
        background-color: inherit;
    }
    header li{
        margin-left: 0.5rem;
        font-size: 1.5rem;
        padding:1.625rem 0;
    }
}

