.image{
    height: 20rem;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
li{
    margin:0;
    padding:0;
}
.image img{
    height: 100%;
    width: 100%;
}

.content{
    text-align: center;
    padding: 1rem;
}
.content h3{
    font-size: 1.25rem;
}
.actions{
    text-align: center;
    padding:1rem;
}

.actions button{
    background-color: transparent;
    padding:0.5rem 1.5rem;
    border: 1px solid #F58800;
    border-radius:6px;
    color:#F58800;
    font-weight: bold;
}

.actions button:hover,
.actions button:active{
    cursor:pointer;
    background-color: #f2e2d0;
}